



/* CSS for the ticker animation */
/* Specifying the name for animation keyframes and keyframes themselves */
@keyframes customticker {
    0% {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  
  /* Formatting the full-width ticker wrapper background and font color */
  #tickerwrap {
    background-color: red; 
    font-size: 25px; 
    color: seashell;  
    font-family: 'Fjalla One', sans-serif;
  }
  
  
  /* Formatting the ticker content background, font color, padding and exit state */
  #ticker {
    display: inline-block;
    white-space: nowrap;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: customticker;
    animation-name: customticker;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
  } 

  h2{ font-family: "Fjalla One";  
    color: black; 
    background-color: white;
} 

.weather-container{ 
    background-color: #808B96 ;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    width: 80%;
} 

.card{  
    margin-top: 20px;
    border-style: none;
}

.card-text{ 
    text-align: center; 
    font-family: "Fjalla One";
} 
.card-title{ 
    text-align: center; 
    font-family: "Fjalla One"; 
    font-weight: bold;
} 
.card-body{ 
    border-style: none;
}  

#top-videos-section{ 
   background-color:black; 
   display: flex; 
   flex-direction: column; 
   
   width: 20%; 
   
}  
.video_main_header{ 
    font-family: "Fjalla One"; 
    color:white;  
    text-align: center;
}
#videos{ 
    background-color: black;  
;

}
#flex_box-row{
    display: flex; 
    flex-direction: row; 
}