body{ font-family: "Fjalla ONe"; 
}

@keyframes customTicker {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap { 
    background-color: red; 
    font-size: 25px; 
    color: seashell;  
    font-family: 'Fjalla One', sans-serif;
 
}
  
.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;  
  white-space: nowrap;
  box-sizing: content-box;
  margin-bottom: 50px;

  -webkit-animation-iteration-count: infinite; 
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: customTicker;
          animation-name: customTicker;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
          text-align: center;
}

.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1rem;
  color: red;
}

h2 {
  font-family: "Fjalla One";  
  color: black; 
  background-color: white; 
  letter-spacing: 2px;
}  

#ziplogo{ 
    font-size: 50px; 
    font-family: "Fjalla One"; 
    letter-spacing: 4px; 
    font-weight: bold;
}   
#navbarNav{ 
    font-family: "Fjalla One";
}

#search-form {  
  display: flex;
  flex-direction: row; 
  justify-content: center;  
  background-color: #f8f9fa!important;
} 

#search_bar { 
  width: 400px; 
  background-color:black; 
  border-style: solid; 
  border-width: 2px; 
  border-color:black ;  
  color: white; 
  font-family: "Fjalla One"; 
  letter-spacing: 2px;  
  margin-right: 10px;
} 

#search { 
  font-family: "Fjalla One"; 
  letter-spacing: 2px; 
  color: whitesmoke; 
  background-color: gray; 
  opacity: .4;  
  margin-right: 30px;   
}

#dropdown {
  font-family: "Fjalla One"; 
  letter-spacing: 2px; 
  background-color: whitesmoke;
} 
option { 
  font-family: "Fjalla One"; 
  letter-spacing: 2px; 
  background-color: whitesmoke;
}

.weather-container {
    background-color:black ;
    display: flex; 
    flex-direction: row; 
    justify-content:space-evenly; 
    align-items: center;  
    flex-wrap: wrap!important;
    width: 75%;  
    height: 75%;
    border-right: white solid 20px;  

}  

#card_format{ 
    width: 200px; 
    height:300px;
}

.card{  
    margin-top: 20px;
    border-style: none; 
    width: 200px!important; 
    height: 270px!important;
}

.card-text{ 
    text-align: center; 
    font-family: "Fjalla One";  
    font-size: 10px!important;  
    word-spacing: 2px!important;

} 
.card-title{ 
    text-align: center; 
    font-family: "Fjalla One"; 
    font-weight: bold; 
    font-size: 15px;
} 
.card-body{ 
    border-style: none; 
    height: 70%!important;
}  

.story_btn{ 
    height:25px; 
    font-size: 10px; 
    width: 25px; 
    text-align: center;
}


#top-videos-section{ 
    background-color:black; 
    display: flex; 
    flex-direction: column; 
    width: 25%;  
    justify-content: space-evenly; 
    justify-items: center; 
    text-align: center; 
    border-left: solid white 3px;
}  
    
.video_main_header{  
    font-family: "Fjalla One"; 
    color:white;  
    text-align: center; 
    letter-spacing: 2px; 
    margin-top: 5px;
}

#videos{
  background-color: black;   
  text-align: center;


}

#youtube_videos{
  width: 80%; 
  margin-left: 10%; 
  margin-right: 10%;
}

#flex_box-row{ 
    background-color: black;
    display: flex; 
    flex-direction: row;  
}

.weather-container{ 
    width: 200px; 
    height: 300px;
}

#button-div {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
} 

footer{ 
    height: 25%;
}
